:root {
	--color-1: #D3D7DA;
	--color-2: #889DAE;
	--color-3: #A8B7C3;
	--color-4: #9DA3A9;
	--color-5: #889096;
}

html {
	background-color: var(--color-5);
	text-align: center;
	font-family : "Tahoma", Geneva, sans-serif;
	font-size: 13px;
}


div {
	display: inline-block;
	background-color: var(--color-1);
	text-align: left;
	margin: 0;
}

.sidebar {
	background-color: var(--color-3);
	position: absolute;
	left: 0px; top: 0px;
	width: 150px;
	height: 600px;
	transition: .5s;
}

.barButton {
	background-color: var(--color-4);
	background-image: url("img/left.png");
	position: absolute;
	left: 150px; top: 0px;
	width: 50px;
	height: 50px;
	padding: 0;
	transition: .5s;
}

.barButton:hover {
	background-color: var(--color-5);
	cursor: pointer;
}

.container {
	width: 60%;
	margin: 0 auto;
	transition: 0.5s;
}

.header {
	background-color: var(--color-2);
	width: 100%;
	margin: 0;
	float: top;
}

.body {
	margin: 0;
}


.col {
	padding: 20px;
	width: 40%;
	float: left;
}

#leftCol {
	transition: .5s;
	padding-right: 100px;
}

#rightCol {
	transition: .5s;
}

.footer {
	background-color: var(--color-2);
	text-align: center;
	width: 100%;
	margin: 0;
	float: bottom;
}

.container:after {
	clear: both;
}

.navButtons {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#button {
	background-color: var(--color-4);
}
#button:hover {
	background-color: var(--color-5);
	cursor: pointer;
}

@media screen and (max-width:1000px) {
	.container {
		position: absolute;
		left: 225px;
		width: 70%;
	}
}

@media screen and (max-width:820px) {
	.container {
		width: 90%;
	}
}

@media screen and (max-width:1400px) {
	#leftCol {
		padding-right: 50px;
	}
}
