:root {
	--color-1: #FFD300;
	--color-2: #FFE670;
	--color-3: #AAFF00;
	--color-4: #CFFF70;
	--color-5: #FF7400;
	--color-6: #FFB170;
}

html {
	background-color: var(--color-4);
	text-align: center;
	font-family: "Tahoma", Geneva, sans-serif;
	font-size: 13px;
}


div {
	display: inline-block;
	background-color: white;
	text-align: left;
	line-height: 150%;
	letter-spacing: 0.5px;
	margin: 0;
}

.sidebar {
	float: bottom;
	background-color: var(--color-1);
	width: 100%;
	margin: 0px;
	transition: .5s;
}

.barButton {
	background-color: var(--color-4);
	background-image: url("img/left.png");
	position: absolute;
	left: 150px; top: 0px;
	width: 50px;
	height: 50px;
	padding: 0;
	transition: .5s;
}

.barButton:hover {
	background-color: var(--color-3);
	cursor: pointer;
}

.container {
	width: 60%;
	margin: 0 auto;
	transition: 1s;
}

.header {
	background-color: var(--color-1);
	width: 100%;
	margin: 0;
	padding-bottom: 0px;
	float: top;
}

.tagline {
	background-color: var(--color-1);
	text-align: center;
	font-family: Cambria, Georgia, serif;
	font-weight: bold;
	font-size: 25px;
	float: right;
	margin: 0px;
	padding-right: 110px;
	padding-top: 50px;
}

.body {
	margin: 0;
}


.col {
	padding: 20px;
	width: 40%;
	float: left;
}

#leftCol {
	transition: .5s;
	padding-right: 100px;
}

#rightCol {
	transition: .5s;
}

.footer {
	background-color: var(--color-1);
	text-align: center;
	width: 100%;
	margin: 0;
	float: bottom;
}

.container:after {
	clear: both;
}

.navButtons {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#button {
	background-color: var(--color-1);
	float: left;
	padding: 0px;
	padding-top: 3px;
}

#button:hover {
	background-color: var(--color-2);
	cursor: pointer;
}

@media screen and (max-width:1900px) {
	.container {
		position: absolute;
		left: 10px;
		width: 960px;
	}

	.tagline {
		padding-right: 20px;
		padding-left: 0px;
		font-size: 20px;
	}
}

@media screen and (max-width:1400px) {
	#leftCol {
		padding-right: 50px;
	}
}
