/* Backdrop options */
html {
	text-align: center;
	background-image: url("img/stars.png");
	background-repeat: repeat;
}

/* Main content options */
body {
	margin: 0 auto;
	width: 75%;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 14px;
	text-decoration: none;
	transition: 0.5s;
}

/* Link style */
a {
	color: #262699;
	text-decoration: underline;
}
a:hover {
	cursor: pointer;
}

/* Container for body and navBar divs */
div.container {
	background-image: url("img/blueglass.png");
	background-repeat: repeat;
	height: 100%;
}

/* Text content area */
div.body {
	background-image: url("img/transparent.png");
	background-repeat: repeat;
	color: #303030;
	border-radius: 4px;
	text-align: left;
	letter-spacing: 1px;
	height: auto;
	margin: 50px 0px;
	padding: 15px 25px;
	transition: 0.5s;
}

/* Base nav bar options */
div.navBar {
	height: 44px;
	float: top;
	background-color: #111111;
}

/* Base nav button options */
ul.navButtons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  overflow: hidden;
}

/* Nav button alignment */
ul.navButtons li {
	float: left;
}

/* Nav button link options */
ul.navButtons li a {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: #DDDDDD;
	text-align: center;
	padding: 14px 15px;
	border-radius: 10px;
	transition: 0.3s;
}

/* Nav button link hover options */
ul.navButtons li a:hover {
	background-color: #999988; 
	border-radius: 8px;
	color: #212121; 
	cursor: pointer; 
	padding: 5px 15px; 
	margin-top: 9px;
}

/* Dynamic element resize based on screen size */
@media screen and (min-width:960px) {
	body {
		width: 960px;
	}

	div.body {
		margin: 50px 100px;
	}
}
/* Minimum size for the body element */
@media screen and (max-width:640px) {
	body {
		width: 480px;
	}
}