<table class="bio">
	<tr>
		<td style="padding: 30px 40px;">
			<p class="titles"><strong>{{ include.title }}</strong></p>
			<p>{{ include.caption }}</p>
		</td>
		<td style="padding: 30px 40px;">
			<table>
				<tr>
					<td style="padding-right: 20px;">
						<img src="{{ include.pic1 }}" width="150" height="165" />
					</td style="padding-right: 20px;">
					<td>
						<img src="{{ include.pic2 }}" width="150" height="165" />
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>