<div class="form-container">
	<form method="post" action="https://briskforms.com/go/267c98616e026f5179de90b6925fdfcc">
		<table style="margin: auto; position: relative; left: -10px;" >
			<tr>
				<td><img src="img/mouse_head.png" width="84" height="75"></td>
				<td>
					<table>
						<tr>
							<td><label for="customerName">Name</label></td>
						</tr>
						<tr>
							<td><input type="text" size="30" name="customerName" id="Name"></td>
						</tr>
						<tr>
							<td><label for="customerEmail">Email</label></td>
						</tr>
						<tr>
							<td><input type="email" size="30" name="customerEmail" id="Email"></td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<td><label for="petNumber">Number of Pets</label></td>
						</tr>
						<tr>
							<td><input type="text" size="10" name="petNumber" id="Pets"></td>
						</tr>
						<tr>
							<td><label for="customerZip">Zip Code</label></td>
						</tr>
						<tr>
							<td><input type="text" size="10" name="customerZip" id="Zip"></td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<td><label for="customerPhone">Email</label></td>
						</tr>
						<tr>
							<td><input type="text" size="14" name="customerPhone" id="Phone" placeholder="(123) 456-7890"></td>
						</tr>
						<tr>
							<td></td>
						</tr>
						<tr>
							<td></td>
						</tr>
					</table>
				</td>
				<td><img class="flipped" src="img/mouse_head.png" width="84" height="75"></td>
			</tr>
			
		</table>
		<table style="text-align: center; margin: auto; position: relative; left: -10px;" >
			<tr>
				<td><button type="submit" value="Submit">Submit</button></td>
			</tr>
		</table>
	</form>
</div>