---
layout: page
title: Staff
staff: open
---
<div class="blurb">
	<h1 class="titles">Our Staff</h1>
	{% include bioright.html title = "Brett Williams" caption="The creator and owner of Brett’s Pets, Brett has a lifetime of experience working with animals of all shapes, sizes, and species. She has her bachelor’s degree in Zoology from NC State University, which enabled her to work and volunteer with some of the top animal facilities in the state, including the Carolina Tiger Rescue, the Duke Lemur Center, the Asheboro Zoo, and the NC Museum of Natural Sciences. Aside from that, she has owned pets her entire life, shown horses, and has worked at PetSmart. This skill set has allowed her to confidently manage and care for animals of all species. With her, you can be sure your pets are in good hands." file="/img/brett.jpg" %}
	{% include bioleft.html title = "Dan Bowman" caption="Dan is a freelance software engineer and web developer. He grew up taking care of a calico cat, a pug and a bulldog. He has experience sitting numerous dogs and cats around neighborhoods, and even cared for his grandmother's cockatiel for a while. He is friendly and comfortable with animals and enjoys spending time with them. Your pets will be in loving hands with Dan." file="/img/dan.jpg" %}
	
</div>