---
layout: page
title: Testimonials
testimonials: open
---
<div class="blurb">
	<h1 class="titles">Testimonials</h1>
	{% include bioright.html title = "-Giovanna H." caption="Brett's been petsitting our Molly for months now and we love her! I'm starting to think Molly doesn't miss us when we're gone. Brett is professional, dependable and most important she genuinely care's for our Molly!  We've found it is so much more convenient to hire Brett rather than boarding." file="/img/molly.jpg" %}
	{% include bioleft.html title = "-Brent B." caption="While my wife and I have been out of town, Brett has watched our Border Collie for us multiple times. We have a very high strung dog, and Brett has done a wonderful job making sure that all her needs were met. From exercise, to feeding schedule, to making sure that Korra was comfortable, Brett has always provided excellent service." file="/img/korra.jpg" %}
	{% include bioright-twopic.html title = "-Susan S." caption="Heading out of town for a weekend trip or a longer vacation, my mind is at ease when Brett is taking care of my two cats. Brett is dependable, friendly and caring. She makes sure that my cats get everything they need while I’m away, including play time and attention. And she sends photos and text messages to let me know how they are doing. I highly recommend Brett as an animal caregiver." pic1="/img/romeo.jpg" pic2="/img/gabe.jpg" %}
</div>