<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
		  	<meta charset="utf-8">
		 	<meta name="description" content="Brett's Pets offers professional in-home pet sitting in the Raleigh area.">
		 	<meta name="author" content="Dan Bowman">
			<meta property="og:title" content="Brett's Pets">
			<meta property="og:image" content="/img/openGraph.png">
			<meta property="og:description" content="A professional in-home pet sitting service!">
		</head>
		<body>
			<nav>
	    		<ul>
	    			<li><img style="position: relative; left: -12px; top: 35px;" src="/img/mouse_peek.png" width="77" height="65" /></li>
	        		<li class="button"><a href="/">Home</a></li>
		        	<li class="button"><a href="/staff">Staff</a></li>
	        		<li class="button"><a href="/testimonials">Testimonials</a></li>
	        		<li class="button"><a href="/map">Map of Service Area</a></li>
	        		<li class="button"><a href="/terms">Terms of Service</a></li>
	    		</ul>
			</nav>

			{{ content }}

			<footer>
	    		<ul>
	        		<li><a href="https://www.facebook.com/brettspetsitting/">facebook</a></li>
				</ul>
			</footer>
		</body>
	</html>