<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/staff">Staff</a></li>
	        		<li><a href="/testimonials">Testimonials</a></li>
	        		<li><a href="/map">Map of Service Area</a></li>
	        		<li><a href="/terms">Terms of Service</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.facebook.com/brettspetsitting/">facebook</a></li>
				</ul>
			</footer>
		</body>
	</html>